{% extends 'basketapp/base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        {% if products %}
            <p>Итого: {{ products.0.total_cost|floatformat:0 }} руб</p>
            <p>Общее количество: ({{ products.0.total_quantity }} шт)</p><br>
        {% endif %}
        {% for item in products %}
            {% if forloop.counter <= 12 %}
                <p>
                    <a href="{% url 'product:main' item.product_id %}">{{ item.product.title }}</a>
                    | {{ item.quantity }} шт. | {{ item.cost }}$ |
                    <button>
                        <a href="{% url 'basket:remove' item.product_id %}">
                            -
                        </a>
                    </button>
                </p>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}