{% extends 'basketapp/base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        {% if basket %}
            <p>Итого: {{ basket.0.total_cost|floatformat:0 }} $</p>
            <p>Общее количество: ({{ basket.0.total_quantity }} шт)</p><br>
            <ul>
                {% for item in basket %}
                    <li>
                        {% if forloop.counter <= 12 %}
                            <p>
                                <a href="{% url 'catalog:product' item.product_id %}">
                                    {{ item.product.title|title }}
                                </a>
                            </p>
                            <b>Стоимость: {{ item.product.price }}$
                                (Общая: {{ item.cost }}$)</b><br>
                            <b>Количество:
                                <button>
                                    <a href="{% url 'basket:remove' item.product_id %}">
                                        -
                                    </a>
                                </button>
                                {{ item.quantity }}
                                <button>
                                    <a href="{% url 'basket:add' item.product_id %}">
                                        +
                                    </a>
                                </button>
                            </b><br>
                            <a href="{% url 'basket:delete' item.product_id %}">
                                Удалить
                            </a>
                        {% endif %}
                    </li><br>
                {% endfor %}
            </ul>
        {% else %}
            <h4>Товаров пока нет</h4>
        {% endif %}
    </div>
{% endblock %}