{% extends 'authapp/base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="profile">
            <form class="profile-form" action="{% url 'auth:edit' %}"
                  method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ update_form.as_p }}
                <div class="input-form__submit-buttons">
                    <input class="button input-form__button" type="submit"
                           value="Save">
                    <button class="button input-form__button">
                        <a href="{% url 'home' %}">
                            Home
                        </a>
                    </button>
                </div>
            </form>
            {% if user.avatar %}
                <div class="user_avatar">
                    <img src="/media/{{ user.avatar }}">
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}