{% extends 'adminapp/base.html' %}

{% block content %}
    <hr>

    <h1>Users list</h1>
    <a href="{% url 'admin:user_create' %}">Create</a>
    <ul>
        {% for user_profile in models %}
            <li>
                <a href="{% url 'admin:user_read' id=user_profile.id %}">
                    {{ user_profile.username }}
                    ({{ user_profile.first_name|title }} {{ user_profile.last_name|title }})
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}