{% extends 'adminapp/base.html' %}
{% load static %}
{% block content %}
    <hr>
    <h1 class="{% if not user_profile.is_active %}not_is_active{% endif %}">
        {{ user_profile.username|title }}
    </h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save">
        <button>
            <a href="
                        {% if user_profile %}
                        {% url 'admin:user_read' user_profile.pk %}
                        {% else %}
                        {% url 'admin:users' %}
                        {% endif %}">Cancel
            </a>
        </button>
    </form>
    {% if user_profile.avatar %}
        <div class="background products__item user_avatar"
             style="background-image: url(/media/{{ user_profile.avatar }}">
        </div>
    {% endif %}
{% endblock %}