<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

    <div class="wrapper">

        <div class="top">

            <div class="contacts-header">
                <div class="container">
                    <div class="background padding-content products-header">
                        <header class="header">
                            <a class="logo" href="/"><img src="/static/img/logo.svg" alt="logo"></a>
                            <nav>
                                <ul class="menu">
                                    <li class="menu__list"><a href="/" class="menu__link">HOME</a></li>
                                    <li class="menu__list"><a href="products" class="menu__link">PRODUCTS</a></li>
                                    <li class="menu__list"><a href="#" class="menu__link">HISTORY</a></li>
                                    <li class="menu__list"><a href="#" class="menu__link">SHOWROOM</a></li>
                                    <li class="menu__list"><a href="contacts" class="menu__link menu__link_active">CONTACT</a></li>
                                    <li class="menu__list search"><img src="/static/img/search.svg" alt="search"></li>
                                </ul>
                            </nav>
                        </header>
                        <div class="hhpb products-header-content">
                            <h2 class="products-header-h2">Contact Us</h2>
                        </div>
                    </div>
                </div>
            </div>


            <div class="container">
                <div class="padding-content callback">
                    <div class="callback-form">
                        <form class="input-form">
                            <input type="text" name="name" placeholder="Name" required class="input-form__single-input"><br>
                            <input type="email" name="email" placeholder="Email" required class="input-form__single-input"><br>
                            <input type="text" name="topic" placeholder="Subject" required class="input-form__single-input"><br>
                            <textarea name="message" maxlength="140" required class="input-form__area-input"></textarea><br>
                            <div class="input-form__submit-buttons">
                                <button type="submit" class="button input-form__button">Send</button>
                                <button type="reset" class="button input-form__button">Clear</button>
                            </div>
                        </form>
                    </div>
                    <div class="map">
                        <script async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A255534894a81f387e92675e2a0608ba2b9a4a089f176764e969aa94e8bc4ae34&amp;width=744&amp;height=268&amp;lang=ru_RU&amp;scroll=true"></script>
                    </div>
                </div>
            </div>

            <div class="address">
                <div class="container">
                    <div class="padding-content padding-products-block products-block">
                        <div class="new-products">
                            <div class="products__item contacts-info contacts-info-text">

                                <img src="/static/img/marker.png" alt="marker">
                                <h4 class="contacts-info-h4">California</h4>
                                <address>
                                    <p class="contacts-info-p"><span class="address-h">Phone:</span> <br>1900&nbsp;&mdash;
                                        1234&nbsp;&mdash; 5678</p>
                                    <p class="contacts-info-p"><span class="address-h">Email:</span> <br>info@interior.com</p>
                                    <p class="contacts-info-p"><span class="address-h">Address:</span> <br>12&nbsp;W
                                        1st St, 90001 Los Angeles, California</p>
                                </address>
                            </div>
                            <div class="products__item contacts-info contacts-info-text">
                                <img src="/static/img/marker.png" alt="marker">
                                <h4 class="contacts-info-h4">California</h4>
                                <address>
                                    <p class="contacts-info-p"><span class="address-h">Phone:</span> <br>1900&nbsp;&mdash;
                                        1234&nbsp;&mdash; 5678</p>
                                    <p class="contacts-info-p"><span class="address-h">Email:</span> <br>info@interior.com</p>
                                    <p class="contacts-info-p"><span class="address-h">Address:</span> <br>12&nbsp;W
                                        1st St, 90001 Los Angeles, California</p>
                                </address>
                            </div>
                            <div class="products__item contacts-info contacts-info-text">
                                <img src="/static/img/marker.png" alt="marker">
                                <h4 class="contacts-info-h4">California</h4>
                                <address>
                                    <p class="contacts-info-p"><span class="address-h">Phone:</span> <br>1900&nbsp;&mdash;
                                        1234&nbsp;&mdash; 5678</p>
                                    <p class="contacts-info-p"><span class="address-h">Email:</span> <br>info@interior.com</p>
                                    <p class="contacts-info-p"><span class="address-h">Address:</span> <br>12&nbsp;W
                                        1st St, 90001 Los Angeles, California</p>
                                </address>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="bottom">
            <div class="container">
                <div class="background padding-content contacts">
                    <section class="contacts-middle">
                        <div class="contact-us">
                            <h4 class="contacts-h4">Contact Us</h4>
                            <div class="contact-us-p-box">
                                <p class="contact-us-p">132A Bridge Road Richmond VIC&nbsp;Australia.</p>
                                <p class="contact-us-p">Talk to&nbsp;us on&nbsp;1300&nbsp;132 info@interior.com</p>
                            </div>
                        </div>
                        <div class="useful">
                            <h4 class="contacts-h4">Useful Information</h4>
                            <div class="useful-a-box">
                                <div class="useful-link-box">
                                    <a href="#" class="useful-link">Sales terms</a>
                                    <a href="#" class="useful-link">Customer care</a>
                                    <a href="#" class="useful-link">Delivery</a>
                                </div>
                                <div class="useful-link-box">
                                    <a href="#" class="useful-link">Architect accounts</a>
                                    <a href="#" class="useful-link">Careers</a>
                                    <a href="#" class="useful-link">Exchanges &amp;&nbsp;returns</a>
                                </div>
                            </div>
                        </div>
                        <div class="subscribe">
                            <h4 class="contacts-h4">Let&rsquo;s Stay in&nbsp;Touch!</h4>
                            <p class="subscribe-p">Suscribe to&nbsp;know about our latest news, products and
                                special
                                offers just for suscribers.</p>
                            <form class="email">
                                <input type="email" placeholder="your email address" class="input-email">
                                <button type="submit" class="button-send"></button>
                            </form>
                        </div>
                    </section>
                    <footer class="footer">
                        <p class="copyright">&copy;&nbsp;Copyright&nbsp;&mdash; INTERIOR 2016. All Rights Reserved.</p>
                        <div class="social-links">
                            <a class="icon-link" href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a class="icon-link" href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a class="icon-link" href="#">
                                <i class="fab fa-google-plus-g"></i>
                            </a>
                            <a class="icon-link" href="#">
                                <i class="fab fa-pinterest-p"></i>
                            </a>
                        </div>
                        <p class="copyright">Terms &amp;&nbsp;Conditions&nbsp;/ Privacy policy &amp;&nbsp;Cookies</p>
                    </footer>
                </div>
            </div>
        </div>

    </div>

</body>

</html>