{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
    <div class="products-head">
        <div class="container">
            <div class="background padding-content products-header">
                <header class="header">
                    <a class="logo" href="{% url 'home' %}"><img src="{% static 'img/logo.svg' %}" alt="logo"></a>
                    <nav>
                        {% include 'mainapp/widgets/main_menu.html' %}
                    </nav>
                </header>
                <div class="hhpb products-header-content">
                    <h2 class="products-header-h2">Our Products Range</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="products-products">
        <div class="container">
            <div class="padding-content padding-products-block padding-products-block__menu products-block">
                <div class="products-heading">
                    {% include 'mainapp/widgets/catalog_menu.html' %}
                </div>
                <div class="trending-products">
                    {% with size=370 %}
                        {% for item in trending_products %}
                            {% include 'mainapp/include/inc_product_preview.html' %}
                        {% endfor %}
                    {% endwith %}
                </div>
                <a href="#" class="refresh"><i class="fas fa-sync-alt"></i></a>
            </div>
        </div>
    </div>
    <div class="promo">
        {% include 'mainapp/include/inc_promo.html' %}
    </div>
{% endblock %}