{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
    <div class="products-head">
        <div class="container">
            <div class="background padding-content products-header">
                <header class="header">
                    <a class="logo" href="{% url 'home' %}"><img src="{% static 'img/logo.svg' %}" alt="logo"></a>
                    <nav>
                        {% include 'mainapp/widgets/main_menu.html' %}
                    </nav>
                </header>
                <div class="hhpb products-header-content">
                    <h2 class="products-header-h2">Our Products Range</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="products-products">
        <div class="container">
            <div class="padding-content padding-products-block padding-products-block__menu products-block">
                <div class="products-heading">
                    {% include 'mainapp/widgets/catalog_menu.html' %}
                </div>
                <div class="trending-products">
                    <div class="background products__item trendings__item"
                         style="background-image: url({% static 'img/product-11.jpg' %})">
                        <div class="background hhpb products__item trendings__item products__item_hover">
                            <a href="{% url 'product' %}" class="background button button-arrow"><img
                                    src="{% static 'img/arrow.png' %}" alt="arrow" class="arrow-big"></a>
                            <h4 class="products__item_hover_h4">Fishnet Chair</h4>
                            <p class="products__item_hover_p">Seat and back with upholstery made of&nbsp;cold cure
                                foam</p>
                        </div>
                    </div>
                    <div class="background products__item trendings__item"
                         style="background-image: url({% static 'img/product-21.jpg' %})">
                        <div class="background hhpb products__item trendings__item products__item_hover">
                            <a href="{% url 'product' %}" class="background button button-arrow"><img
                                    src="{% static 'img/arrow.png' %}" alt="arrow" class="arrow-big"></a>
                            <h4 class="products__item_hover_h4">Fishnet Chair</h4>
                            <p class="products__item_hover_p">Seat and back with upholstery made of&nbsp;cold cure
                                foam</p>
                        </div>
                    </div>
                    <div class="background products__item trendings__item"
                         style="background-image: url({% static 'img/product-31.jpg' %})">
                        <div class="background hhpb products__item trendings__item products__item_hover">
                            <a href="{% url 'product' %}" class="background button button-arrow"><img
                                    src="{% static 'img/arrow.png' %}" alt="arrow" class="arrow-big"></a>
                            <h4 class="products__item_hover_h4">Fishnet Chair</h4>
                            <p class="products__item_hover_p">Seat and back with upholstery made of&nbsp;cold cure
                                foam</p>
                        </div>
                    </div>
                    <div class="background products__item trendings__item"
                         style="background-image: url({% static 'img/product-41.jpg' %})">
                        <div class="background hhpb products__item trendings__item products__item_hover">
                            <a href="{% url 'product' %}" class="background button button-arrow"><img
                                    src="{% static 'img/arrow.png' %}" alt="arrow" class="arrow-big"></a>
                            <h4 class="products__item_hover_h4">Fishnet Chair</h4>
                            <p class="products__item_hover_p">Seat and back with upholstery made of&nbsp;cold cure
                                foam</p>
                        </div>
                    </div>
                    <div class="background products__item trendings__item"
                         style="background-image: url({% static 'img/product-5.jpg' %})">
                        <div class="background hhpb products__item trendings__item products__item_hover">
                            <a href="{% url 'product' %}" class="background button button-arrow"><img
                                    src="{% static 'img/arrow.png' %}" alt="arrow" class="arrow-big"></a>
                            <h4 class="products__item_hover_h4">Fishnet Chair</h4>
                            <p class="products__item_hover_p">Seat and back with upholstery made of&nbsp;cold cure
                                foam</p>
                        </div>
                    </div>
                    <div class="background products__item trendings__item"
                         style="background-image: url({% static 'img/product-6.jpg' %})">
                        <div class="background hhpb products__item trendings__item products__item_hover">
                            <a href="{% url 'product' %}" class="background button button-arrow"><img
                                    src="{% static 'img/arrow.png' %}" alt="arrow" class="arrow-big"></a>
                            <h4 class="products__item_hover_h4">Fishnet Chair</h4>
                            <p class="products__item_hover_p">Seat and back with upholstery made of&nbsp;cold cure
                                foam</p>
                        </div>
                    </div>
                    <div class="background products__item trendings__item"
                         style="background-image: url({% static 'img/product-11.jpg' %})">
                        <div class="background hhpb products__item trendings__item products__item_hover">
                            <a href="{% url 'product' %}" class="background button button-arrow"><img
                                    src="{% static 'img/arrow.png' %}" alt="arrow" class="arrow-big"></a>
                            <h4 class="products__item_hover_h4">Fishnet Chair</h4>
                            <p class="products__item_hover_p">Seat and back with upholstery made of&nbsp;cold cure
                                foam</p>
                        </div>
                    </div>
                    <div class="background products__item trendings__item"
                         style="background-image: url({% static 'img/product-21.jpg' %})">
                        <div class="background hhpb products__item trendings__item products__item_hover">
                            <a href="{% url 'product' %}" class="background button button-arrow"><img
                                    src="{% static 'img/arrow.png' %}" alt="arrow" class="arrow-big"></a>
                            <h4 class="products__item_hover_h4">Fishnet Chair</h4>
                            <p class="products__item_hover_p">Seat and back with upholstery made of&nbsp;cold cure
                                foam</p>
                        </div>
                    </div>
                    <div class="background products__item trendings__item"
                         style="background-image: url({% static 'img/product-31.jpg' %})">
                        <div class="background hhpb products__item trendings__item products__item_hover">
                            <a href="{% url 'product' %}" class="background button button-arrow"><img
                                    src="{% static 'img/arrow.png' %}" alt="arrow" class="arrow-big"></a>
                            <h4 class="products__item_hover_h4">Fishnet Chair</h4>
                            <p class="products__item_hover_p">Seat and back with upholstery made of&nbsp;cold cure
                                foam</p>
                        </div>
                    </div>
                    <div class="background products__item trendings__item"
                         style="background-image: url({% static 'img/product-41.jpg' %})">
                        <div class="background hhpb products__item trendings__item products__item_hover">
                            <a href="{% url 'product' %}" class="background button button-arrow"><img
                                    src="{% static 'img/arrow.png' %}" alt="arrow" class="arrow-big"></a>
                            <h4 class="products__item_hover_h4">Fishnet Chair</h4>
                            <p class="products__item_hover_p">Seat and back with upholstery made of&nbsp;cold cure
                                foam</p>
                        </div>
                    </div>
                    <div class="background products__item trendings__item"
                         style="background-image: url({% static 'img/product-5.jpg' %})">
                        <div class="background hhpb products__item trendings__item products__item_hover">
                            <a href="{% url 'product' %}" class="background button button-arrow"><img
                                    src="{% static 'img/arrow.png' %}" alt="arrow" class="arrow-big"></a>
                            <h4 class="products__item_hover_h4">Fishnet Chair</h4>
                            <p class="products__item_hover_p">Seat and back with upholstery made of&nbsp;cold cure
                                foam</p>
                        </div>
                    </div>
                    <div class="background products__item trendings__item"
                         style="background-image: url({% static 'img/product-6.jpg' %})">
                        <div class="background hhpb products__item trendings__item products__item_hover">
                            <a href="{% url 'product' %}" class="background button button-arrow"><img
                                    src="{% static 'img/arrow.png' %}" alt="arrow" class="arrow-big"></a>
                            <h4 class="products__item_hover_h4">Fishnet Chair</h4>
                            <p class="products__item_hover_p">Seat and back with upholstery made of&nbsp;cold cure
                                foam</p>
                        </div>
                    </div>
                </div>
                <a href="#" class="refresh"><i class="fas fa-sync-alt"></i></a>
            </div>
        </div>
    </div>

    <div class="promo">
        {% include 'mainapp/include/inc_promo.html' %}
    </div>
{% endblock %}