{% load static %}
<div class="background products__item {% if size == 370 %} trendings__item {% endif %}"
     style="background-image: url({% static 'img/' %}{{item.path}})">
    <div class="background hhpb products__item {% if size == 370 %} trendings__item {% endif %} products__item_hover">
        <a href="{% url 'product' %}"
           class="background button button-arrow"><img
                src="{% static 'img/arrow.png' %}" alt="arrow"
                class="arrow-big">
        </a>
        <h4 class="products__item_hover_h4">{{ item.name|title }}</h4>
        <p class="products__item_hover_p">{{ item.discription|capfirst|safe }}</p>
    </div>
</div>